.tweet {
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  margin: 5px 2em 0;
  background-color: #fff;
  opacity: 0.7;
  word-wrap: break-word;

  header {
    background-color: #eee;
    border-radius: 5px;
    height: 70px;
    width: 100%;

    .avatar {
      width: 60px;
      height: 60px;
      margin: 5px;
      border: 1px solid #bfbfbf;
      border-radius: 5px;
      float: left;
    }

    .user {
      float: left;
    }

    .handle {
      line-height: 60px;
      float: right;
      margin: 5px;
      color: #8f8f8f;
    }
  }

  div {
    padding: 20px 10px;
    font-size: 1.2em;
  }

  footer {
    border: 1px solid #bfbfbf;
    border-width: 1px 0 0 0;
    font-size: 0.9em;
    padding: 8px 5px;

    i {
      float: right;
      margin: 0 5px 0 0;
      visibility: hidden;
    }
  }
}

.tweet:hover {
  opacity: 1;
}

.tweet:hover i {
  color: #244751;
  visibility: visible;
}

.errorMsg {
  margin-left: 10px;
  color: red;
  font-size: 12px;
}
/* MEDIA QUERIES */
@media screen and (max-width: 968px) {
  .tweet {
    header {
      position: relative;

      .user {
        position: relative;
        top: -18px;
        font-size: 200%;
      }

      .handle {
        position: absolute;
        float: none;
        top: 19px;
        left: 64px;
        font-size: 100%;
        line-height: none;
        margin: none;
      }
    }
  }
}
/* Tablets */
@media screen and (max-width:768px) {
  .tweet header {
    .user {
      font-size: 90%;
    }

    .handle {
      font-size: 70%;
    }
  }
}
/* Mobiles */
@media screen and (max-width: 520px) {
  .tweet {
    header {
      height: 50px;

      .avatar {
        width: 40px;
        height: 40px;
      }

      .user {
        font-size: 0.5em;
        top: -13px;
      }

      .handle {
        top: 3px;
        left: 43px;
        font-size: 0.5em;
      }
    }

    footer {
      font-size: 0.5em;
    }

    div {
      font-size: 0.5em;
    }
  }
}
